@{
    ViewData["Title"] = "Privacy Policy";
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<Resource> localizer
<h1>@localizer["Privacy"]</h1>

<p>@localizer["LoremIpsum"]</p>
